
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Matematik</td>
        <td>Açıklama</td>
        <td>true</td>
        <td > <button class="btn btn-success">Güncelle</button></td>
    </tr>
    
    <tr>
        <td>2</td>
        <td>Kimya</td>
        <td>Açıklama</td>
        <td>true</td>
        <td> <button class="btn btn-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Fizik</td>
        <td>Açıklama</td>
        <td>true</td>
        <td> <button class="btn btn-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>4</td>
        <td>Biyolaji</td>
        <td>Açıklama</td>
        <td>true</td>
        <td> <button class="btn btn-success">Güncelle</button></td>

    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklaması</button>


